@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: auto;
  background-color: #1f1f21;
  overflow-x: hidden;
  overflow-y: auto;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .brand {
    animation: logo-spin infinite 20s linear;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #fcfcfc;
    background-color: #1f1f21;
  }
  a:hover {
    color: #f0072e;
  }
  button {
    background-color: #2ae98d;
  }
}

::-webkit-scrollbar {
  width: 13px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #2ae98d; /* Color of the thumb */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2ae98d; /* Color when hovering over the thumb */
}


html {
  scrollbar-width: auto; /* Width of the scrollbar */
}

html {
  scrollbar-color: #2ae98d #fefefe; /* thumb color track color */
}

html:hover {
  scrollbar-color: #2ae98d #fefefe; /* thumb color track color */
}